<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mediator.Properties.Settings.MessagesConnectionString"
            connectionString="Data Source=|DataDirectory|\Messages.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Mediator.Properties.Settings.db1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\db1.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Mediator.Properties.Settings.bdConnectionString" connectionString="Data Source=|DataDirectory|\bd.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Mediator.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>